# Part 1

In [1]:
!conda install -c conda-forge beautifulsoup4 --yes

!conda install -c conda-forge geopy --yes

!conda install -c conda-forge folium=0.5.0 --yes

print('Libraries installed!')

Solving environment: done

# All requested packages already installed.

Solving environment: done

# All requested packages already installed.

Solving environment: done

# All requested packages already installed.

Libraries installed!

In [2]:
import numpy as np 

import pandas as pd 
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

import json 

from geopy.geocoders import Nominatim 

import requests 
from bs4 import BeautifulSoup 

from pandas.io.json import json_normalize 

import matplotlib.cm as cm
import matplotlib.colors as colors

from sklearn.cluster import KMeans

import folium 

print("Libraries imported.")

Libraries imported.

In [3]:
url  = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
web_p = requests.get(url)

In [4]:
df_web = pd.read_html(url, header=0, na_values = ['Not assigned'])[0]
df_web.head()

  Postcode           Borough     Neighbourhood
0      M1A               NaN               NaN
1      M2A               NaN               NaN
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [5]:
df_web.dropna(subset=['Borough'], inplace=True)
df_web.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [6]:
empty_n = df_web[df_web['Neighbourhood'].isna()].shape[0]
print('Rows in which neighborhood column is empty: {}'.format(empty_n))

Rows in which neighborhood column is empty: 1

In [7]:
df_web['Neighbourhood'].fillna(df_web['Borough'], inplace=True)
empty_n = df_web[df_web['Neighbourhood'].isna()].shape[0]
print('Rows in which Neighborhood column is empty: {}'.format(empty_n))

Rows in which Neighborhood column is empty: 0

In [8]:
df_web[df_web['Borough']=="Queen's Park"]

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Queen's Park

In [9]:
df_postcode = df_web.groupby(['Postcode','Borough']).Neighbourhood.agg([('Neighbourhood', ', '.join)])
df_postcode.reset_index(inplace=True)
df_postcode.head(5)

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [10]:
print('The shape of the dataset is:',df_postcode.shape)

The shape of the dataset is: (103, 3)